html,body {
  margin: 0;
  padding: 0; 
  color: #555;
  font-size: 14px;
   background-color: #f8f9fa;
}

* {
  box-sizing: border-box;
  font-family: Menlo, Monaco, Consolas, "Helvetica Neue", Helvetica, "Courier New", 微软雅黑, monospace, Arial, sans-serif, 黑体;
  
}

.v-cloak {
  display: none
}

a, svg {
  transition: all,.5s,ease,0s;
  -webkit-transition: all,.5s,ease,0s;
  text-decoration: none
}
a:link, a:visited {
  color: #444
}

a:active, a:hover {
  color: #f14f4f
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  fill: #000;
}

.filters-wraper {
  width: 70%;
  margin: 50px auto;
}

.fil-item {
  width: 33%;
  float: left;
  padding: 20px;
 
}

.fil-item .inner {
  background-color: #FFF;
  padding: 10px;
  padding-bottom: 20px;
  position: relative
}


.fil-item h3{
  padding: 0;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.fil-item  img{
  max-width: 100%;
}

.fil-item .code {
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 12px;
}

.fil-item .val-range {
  width: 100%;
  margin: 10px 0;
}

.fil-item .about {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);;
  padding: 20px;
  bottom: 0;
  left: 0; 
  right: 0;
  z-index: 1000;
  font-family: '微软雅黑';
  line-height: 25px;
}

.fil-item .extra {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.fil-item .extra .icon {
  fill: #ddd;
}

.hover-btn.active-true  .icon{
  fill: #f14f4f
}

.icon-quetion {
  fill: #DDD;
  width: 15px;
  height: 15px;
}


.icon-quetion:hover {
  fill: #333
}

.navbar {
  text-align: center;
  margin-bottom: 20px;
}


/*合并视图*/

.combine-view {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-left: 270px
}

.left-bar {
  width: 250px;
  position: absolute;
  left: 0;
}

.right-con {
  padding: 20px;
}

.right-con .img-wraper{
  background-color: #FFF;
  padding: 20px;
}

.right-con img{
  max-width: 100%
}

.right-con .code {
  padding: 20px;
  background-color: #f5f2f0
}

.right-con .code > div {
  margin: 10px 0
}

.slider-item {
  width: 100%;
  position: relative;
  padding-right: 60px;
  
  margin: 20px 0;
}

.slider-item.switchen-true {
  padding-left: 50px;
}

.slider-item.enabled-false.switchen-true .noUi-connect {
  background: rgb(224, 224, 224);
}

.slider-item  .slide-txt{
  position: absolute;
  right: 0;
  display: inline-block;
  width: 50px;
  text-align: center;
  top: -5px;
  padding: 5px 0;
  outline: none;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.enable-btn {
  position: absolute;
  left: 0;
  top: -5px;
}
.slider-item .icon {
  
  width: 15px;
  height: 15px;
  fill: #f14f4f;
}

.code > div {
  overflow: hidden;
  margin: 10px 0;
}
.code  > div  * {
  display: inline-block;
  float:left
}

/*代码高亮*/
.code .code-name {
  color: #1E88DB
}

.code .code-key {
  color: #B85B2E;
  margin-left: 5px;
}

.code .code-val {
  color: #B5C87C
}


/*switch btn style patch*/
.Switch_LIKE {
  width: 35px;
  height: 20px;
}

.Switch_LIKE .SwitchButton {
  width: 23px;
  height: 23px;
  top: -2px
}
.Switch_LIKE .SwitchButton:after {
  width: 8px;
  height: 8px;
  top: 6px;
  left: 6px;
}
.Switch_LIKE.On .SwitchButton {
  left: 15px;
}
.Switch_LIKE.On .SwitchButton:after {
  width: 0;
  height: 8px;
  border: 1.5px solid #69ddf1;
  left: 11px;
}
.Switch_LIKE .SwitchLine:after {
  content: ''
}
.Switch_LIKE .SwitchButton:after {
  border: 1.5px solid #f88c8c;
  left: 7px;
  top: 7px;
}

