<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="css/nouislider.css" rel="stylesheet">
  <link href="css/simple.switch.three.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  </head>
<body>
  <div id="app">
    
    <!--filter列表-->
     <div class="filters-wraper">
        <!--菜单栏-->
        <div class="navbar"> 
          <a href="javascript:void(0)" @click="view = 'seperate'">独立视图</a>
          <a href="javascript:void(0)" @click="view = 'combine'">合成视图</a>
        </div>

        <!--合成视图-->
        <div class="combine-view" v-show="view == 'combine'">
          <div class="left-bar">
              <template v-for="(item, $index) in filters">
                <h3>{{item.name}}</h3>
                <vue-slider :item="item" :index="$index" :switchen="true"></vue-slider>
              </template>
              
          </div>
          <div class="right-con">
            <div class="img-wraper">
              <img :src="img" :style="computeAllStyle()">
            </div>
            <vue-code :sfilters="usables()" ></vue-code>
          </div>
        </div>

        <!--独立视图-->
        <div v-show="view != 'combine'"> 
          <div class="fil-item" v-for="(item, $index) in filters" v-cloak>
            <h3>{{item.name}} 
              <span>({{item.desc}})</span>
              <a href="javascript:void(0)" :title="'关于 ' + item.name"  @click="item.view = (item.view == 'about' ? 'normal' : 'about')">
                <svg class="icon icon-quetion">
                  <use xlink:href="svg/icon.svg#question"></use>
                </svg>
              </a>
              </h3>
            <div class="inner">
              <img :src="img" :style="computeStyle(item, $index)" :class="'imgp-' + $index">
              <vue-slider :item="item" :index="$index"></vue-slider>
              <vue-code :sfilters="[item]" ></vue-code>
              <div class="extra">
                <a  href="javascript:void(0)" title="切换到Hover动画" @click="switchHover(item)" :class="'hover-btn active-' + (item.view == 'hover')">
                  <svg class="icon">
                    <use xlink:href="svg/icon.svg#computer"></use>
                  </svg>
                </a>
              </div>

              <!--关于-->
              <div class="about" v-show="item.view == 'about'">
                {{item.fdesc}}
              </div>
            </div>
            
            
          </div>
        </div>
        
     </div>

  </div>

  <!--滑块组件-->
  <script type="text/x-template" id="slider-template">
    <div class="slider-item" :class="'switchen-' + switchen + ' enabled-' + item.enabled "> 
      <div class="enable-btn" v-if="switchen">
        <input type="checkbox" class="checkbox" v-model="item.enabled"/>
      </div>

      
      <div  class="val-range"   v-bind:data-index="index"></div>
      <input type="text" v-model="item.value[2]" class="slide-txt" @keyup="setSliderVal(index, item)" @change="setSliderVal(index, item)"/>
    </div>
  </script>

  <!--代码组件-->
  <script type="text/x-template" id="code-template">
    <div class="code">
      <div>
        <span class="code-name">-webkit-filter</span>
        <span>: </span>
        <template v-for="(item, $index) in sfilters">
            <span class="code-key">{{item.name}}</span>
            <span>(</span>
            <span  class="code-val">{{item.value[2]}}{{item.unit || ''}}</span>
            <span>)</span>
            <span v-if="$index == sfilters.length - 1">;</span>
        </template>
      </div>
      <div>
        <span class="code-name">filter</span>
        <span>: </span>
        <template v-for="(item, $index) in sfilters">
            <span class="code-key">{{item.name}}</span>
            <span>(</span>
            <span  class="code-val">{{item.value[2]}}{{item.unit || ''}}</span>
            <span>)</span>
            <span v-if="$index == sfilters.length - 1">;</span>
        </template>
      </div>
    </div>
  </script>

<script src="js/jquery.js" charset="utf-8"></script>
<script src="js/vue.min.js" charset="utf-8"></script>
<script src="js/wNumb.js"  charset="utf-8"></script>
<script src="js/nouislider.js"></script>
<script src="js/simple.switch.min.js"></script>
<script src="js/main.js"></script>



</body>